<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
实体类的映射文件: namespace 指定接口的类全名
-->
<mapper namespace="com.cms.dao.mapper.CmsTaskMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!--SQL-->
    <sql id="baseColumn">
        id,
        site_name,
        keywords,
        description,
        static_dir,
        static_suffix,
        tpl_index,
        is_static_index
    </sql>

    <!--key-SQL-->
    <sql id="key">
        name,
        type,
        code,
        execution_cycle,
        <if test="dayOfMonth!=null and dayOfMonth!=''">
            day_of_month,
        </if>
        <if test="dayOfWeek!=null and dayOfWeek!=''">
            day_of_week,
        </if>
        <if test="hour!=null and hour!=''">
            hour,
        </if>
        <if test="minute!=null and minute!=''">
            minute,
        </if>
        <if test="intervalHour!=null and intervalHour!=''">
            interval_hour,
        </if>
        <if test="intervalMinute!=null and intervalMinute!=''">
            interval_minute,
        </if>
        <if test="cronExpression!=null and cronExpression!=''">
            cron_expression,
        </if>
        <if test="enable!=null">
            is_enable,
        </if>
        <if test="intervalUnit!=null and intervalUnit!=''">
            interval_unit,
        </if>
        <if test="remark!=null and remark!=''">
            remark,
        </if>
        create_time
    </sql>

    <!--Value-SQL-->
    <sql id="val">
        #{name},
        #{type},
        #{code},
        #{taskExecutionType},
        <if test="dayOfMonth!=null and dayOfMonth!=''">
            #{dayOfMonth},
        </if>
        <if test="dayOfWeek!=null and dayOfWeek!=''">
            #{dayOfWeek},
        </if>
        <if test="hour!=null and hour!=''">
            #{hour},
        </if>
        <if test="minute!=null and minute!=''">
            #{minute},
        </if>
        <if test="intervalHour!=null and intervalHour!=''">
            #{intervalHour},
        </if>
        <if test="intervalMinute!=null and intervalMinute!=''">
            #{intervalMinute},
        </if>
        <if test="cronExpression!=null and cronExpression!=''">
            #{cronExpression},
        </if>
        <if test="enable!=null">
            #{enable},
        </if>
        <if test="intervalUnit!=null and intervalUnit!=''">
            #{intervalUnit},
        </if>
        <if test="remark!=null and remark!=''">
            #{remark},
        </if>
        #{createTime}
    </sql>

    <resultMap id="baseResultMap" type="com.cms.dao.entity.CmsSiteEntity">
        <id property="id" column="id"/>
        <result property="siteName" column="siteName"/>
        <result property="keywords" column="keywords"/>
        <result property="description" column="description"/>
        <result property="staticDir" column="static_dir"/>
        <result property="staticSuffix" column="static_suffix"/>
        <result property="staticIndex" column="is_static_index"/>
        <result property="tplIndex" column="tpl_index"/>
    </resultMap>

    <!--存储定时任务信息-->
    <insert id="save">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into cms_task(<include refid="key"/>) values (<include refid="val"/>)
    </insert>
</mapper>