<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.mapper.CmsTaskMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <!--SQL-->
    <sql id="baseColumn">
        create_time,
        id,
        name,
        code,
        type,
        execution_cycle,
        day_of_month,
        day_of_week,
        hour,
        minute,
        interval_hour,
        interval_minute,
        cron_expression,
        is_enable,
        interval_unit,
        remark
    </sql>

    <!--key-SQL-->
    <sql id="key">
        name,
        type,
        code,
        execution_cycle,
        <if test="dayOfMonth!=null and dayOfMonth!=''">
            day_of_month,
        </if>
        <if test="dayOfWeek!=null and dayOfWeek!=''">
            day_of_week,
        </if>
        <if test="hour!=null and hour!=''">
            hour,
        </if>
        <if test="minute!=null and minute!=''">
            minute,
        </if>
        <if test="intervalHour!=null and intervalHour!=''">
            interval_hour,
        </if>
        <if test="intervalMinute!=null and intervalMinute!=''">
            interval_minute,
        </if>
        <if test="cronExpression!=null and cronExpression!=''">
            cron_expression,
        </if>
        <if test="enable!=null">
            is_enable,
        </if>
        <if test="intervalUnit!=null and intervalUnit!=''">
            interval_unit,
        </if>
        <if test="remark!=null and remark!=''">
            remark,
        </if>
        create_time
    </sql>

    <!--Value-SQL-->
    <sql id="val">
        #{name},
        #{type},
        #{code},
        #{taskExecutionType},
        <if test="dayOfMonth!=null and dayOfMonth!=''">
            #{dayOfMonth},
        </if>
        <if test="dayOfWeek!=null and dayOfWeek!=''">
            #{dayOfWeek},
        </if>
        <if test="hour!=null and hour!=''">
            #{hour},
        </if>
        <if test="minute!=null and minute!=''">
            #{minute},
        </if>
        <if test="intervalHour!=null and intervalHour!=''">
            #{intervalHour},
        </if>
        <if test="intervalMinute!=null and intervalMinute!=''">
            #{intervalMinute},
        </if>
        <if test="cronExpression!=null and cronExpression!=''">
            #{cronExpression},
        </if>
        <if test="enable!=null">
            #{enable},
        </if>
        <if test="intervalUnit!=null and intervalUnit!=''">
            #{intervalUnit},
        </if>
        <if test="remark!=null and remark!=''">
            #{remark},
        </if>
        #{createTime}
    </sql>

    <resultMap id="baseResultMap" type="com.cms.dao.entity.CmsTaskEntity">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="taskExecutionType" column="execution_cycle"/>
        <result property="dayOfMonth" column="day_of_month"/>
        <result property="dayOfWeek" column="day_of_week"/>
        <result property="hour" column="hour"/>
        <result property="intervalHour" column="interval_hour"/>
        <result property="intervalMinute" column="interval_minute"/>
        <result property="cronExpression" column="cron_expression"/>
        <result property="enable" column="is_enable"/>
        <result property="intervalUnit" column="interval_unit"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!--存储定时任务-->
    <insert id="save">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into cms_task(<include refid="key"/>) values (<include refid="val"/>)
    </insert>

    <!--获取所有定时任务-->
    <select id="selectAll" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from cms_task where is_enable = 1
    </select>

    <!--分页显示首页定时任务数据-->
    <select id="selectBySearchProvider" parameterType="SearchProvider" resultMap="baseResultMap">
        select <include refid="baseColumn"/>
        from cms_task order by create_time desc
    </select>
</mapper>