<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.mapper.CmsUserRoleMapper">

    <!--保存角色-->
    <insert id="save">
        insert into cms_user_role (role_id,user_id) values (#{roleId},#{userId})
    </insert>

    <!--通过用户id查询角色id-->
    <select id="selectByUserId" resultType="integer">
        select role_id from cms_user_role where user_id = #{userId}
    </select>

    <!--通过用户id删除角色-->
    <select id="deleteById" resultType="integer">
        select role_id from cms_user_role where user_id = #{userId}
    </select>
</mapper>